<h2>{{#if entryData.name}}{{ entryData.name }}{{else}}&lt;No Name&gt;{{#if perms.edit}} <a href="?edit">(Add One)</a>{{/if}}{{/if}}</h2>
<h3>{{#if entryData.descr}}{{ entryData.descr }}{{else}}&lt;No Description&gt;{{#if perms.edit}} <a href="?edit">(Add One)</a>{{/if}}{{/if}}</h3>